
.email-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 600px;
    border: 2px solid;
    gap: 50px;
}
.email-user .header-email-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.email-user .header-email-user .header-img-user img{
    position: relative;
    height: 200px;
    width: 600px;
    z-index: 1;
}
.email-user .header-email-user .header-logo-user img{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    z-index: 2;
    top: 118px;
    left: 260px;
}
.email-user .content-email-user{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.email-user .content-email-user .info-user-email{ 
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}