.main-manu .machining-process .machining-content-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 300px;
    /* padding: 50px; */
    /* border: 2px solid; */
}
.main-manu .machining-process .machining-head .machining-head-img .mp-head{
    font-size: 25px; 
    font-weight: bolder;
}

.main-manu .machining-process .machining-content-2 .machining-info-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
    /* border: 2px solid; */
    width: 250px;
}
.main-manu .machining-process .machining-content-2 .machining-img-2{
    position: relative;
    height: 400px;
}
.main-manu .machining-process .machining-content-2 .machining-img-2 #mp-img-2-1{
    height: 300px;
    position: absolute;
}

.main-manu .machining-process .machining-content-2 .machining-img-2 #mp-img-2-2{
    height: 250px;
    position: relative;
    z-index: 1;
    top: 200px;
    left: 120px;
}

.main-manu .machining-process .machining-head .machining-head-img{
    border: 2px solid ;
     border-radius: 50px;
      width: 1000px;
     height: 100px;
     border: none;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url(Untitled\ design\ \(1\).png);
}
/* Media Queries */
@media only screen and (max-width: 1238px) {
    .main-manu .machining-process{
        gap: 50px;
    }
    .main-manu .machining-process .machining-head .machining-head-img{
        width: 850px;
    }
    .main-manu .machining-process .machining-content-2{
        gap: 40px;
        flex-direction: column;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2{
        right: 30px;
    }
    .main-manu .machining-process .machining-content-2 .machining-info-2{
        width: 600px;
    }
}
@media only screen and (max-width: 1035px){
    .main-manu .machining-process .machining-head .machining-head-img{
        width: 650px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2{
        right: 60px;
    }
}
@media only screen and (max-width: 663px){
    .main-manu .machining-process .machining-head .machining-head-img{
        width: 550px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2{
        right: 50px;
    }
    .main-manu .machining-process .machining-content-2 .machining-info-2{
        width: 500px;
    }
}
@media only screen and (max-width: 600px){
    .main-manu .machining-process .machining-head .machining-head-img{
        width: 350px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2{
        right: 40px;
    }
    .main-manu .machining-process .machining-content-2 .machining-info-2{
        width: 400px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2 #mp-img-2-1{
        height: 250px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2 #mp-img-2-2{
        height: 200px;
    }
}
@media only screen and (max-width: 495px){
    .main-manu .machining-process .machining-head .machining-head-img{
        width: 350px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2{
        top: 50px;
        right: 40px;
    }
    .main-manu .machining-process .machining-content-2 .machining-info-2{
        left: 50px;
        width: 300px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2 #mp-img-2-1{
        height: 220px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2 #mp-img-2-2{
        height: 200px;
        width: 300px;
        top: 150px;
        left: 120px;
    }
    .main-manu .machining-process .machining-content-2{
        gap: 2px;
    }
}
@media only screen and (max-width: 400px){
    .main-manu .machining-process{
        gap: 5px;
    }
    .main-manu .machining-process .machining-head .machining-head-img{
        width: 200px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2{
        right: 17px;
    }
    .main-manu .machining-process .machining-content-2 .machining-info-2{
        width: 190px;
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2 #mp-img-2-1{
        height: 200px;
        width: 290px;
        
    }
    .main-manu .machining-process .machining-content-2 .machining-img-2 #mp-img-2-2{
        height: 180px;
        width: 250px;
        top: 150px;
        left: 70px;
    }
    .main-manu .machining-process .machining-head .machining-head-img .mp-head{
        font-size: 18px; 
        font-weight: bolder;
    }
}