 .main-404{
  display:  flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  /* border: 2px solid; */

}
.main-404 .content-404{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid; */
  padding: 50px;
  background-color: #e5e5f7;
  /* background-color: #e5e5f7; */
  opacity: 0.8;
  background-image: linear-gradient(45deg, #75cbff 50%, #e5e5f7 50%);
  background-size: 4px 4px;
  border-radius: 50px;
}

.main-404 .content-404 .info-404{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* border: 2px solid; */
  padding: 20px;
} 

.main-404 .content-404 .info-404 .btn_404{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: white;
  color:rgb(72, 72, 210) ;
  font-size: 20px;
  transition: 0.5s;
  font-weight: bolder;
  font-style: italic;
}
.main-404 .content-404 .info-404 .btn_404:hover{
  width: 220px;
  height: 50px;
  font-size: 30px;
  background-color: rgb(72, 72, 210);
  color: white;
}
